 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.about {
    width: 100%;
    padding: 78px 0px;
}

.about .abt {
    height: auto;
    width: 600px;
}

.about-text {
    width: 700px;
    padding: 20px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 10px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 45px;
    padding: 10px;
}



