* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

p {
    margin: 10px;
    padding: 30px;
    border: 5px solid white;
    font-size: 50px;
    text-align: center;
    color: aqua;
}

a {
    text-decoration: none;
}

p:hover {
    margin: 10px;
    padding: 30px;
    border: 5px solid aqua;
    font-size: 50px;
    text-align: center;
    color: white;
    transition: .8s;
}

h1 {
    color: white;
    text-align: center;
}
