*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 55px;
    text-align: center;
}

p{
    font-size: 35px;
    text-align: center;
}

.link {
    color: skyblue;
    text-decoration: underline;
}